#order-standard_cart {
  .addon-products {
    margin-bottom: 30px;

    @media (min-width: $screen-sm-min) {
      display: flex;
      flex-wrap: wrap;
    }

    &_wide {
      .addon-products__el {
        width: 100%;
      }
    }

    &__el {
      width: 100%;
      padding: 0 12px;
      margin-bottom: 24px;

      @media (min-width: $screen-sm-min) {
        width: 50%;
      }
    }

    .panel-addon {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      margin-bottom: 0;

      &:hover {
        cursor: pointer
      }

      .panel-body {
        height: 100%;
        border-radius: 4px;
        border-top: none;

        @media (min-width: 1300px) {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
        }

        &::before,
        &::after {
          display: none;
        }

        label {
          font-weight: 700;
          color: #333;
          margin-bottom: 6px;
        }
      }
    }

    .panel-addon__descr {
      .text-light {
        padding-left: 30px;
      }
    }

    .checkbox-icheck {
      label {
        display: block;
        position: relative;
        padding-left: 30px;
        font-size: 15px;
      }

      .icheckbox_square-blue {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .panel-addon .panel-price {
    padding: 10px;
    background-color: #e8e8e8
  }

  .panel-addon-selected {
    border-color: #8EC344
  }

  .panel-addon-selected .panel-price {
    background-color: #8EC344;
    color: #fff
  }

  .panel-addon-selected .panel-add {
    background-color: $brand-success;
    border-color: $brand-success;
    color: #fff;
  }

  .panel-add {
    margin-top: 15px;
    margin-left: 30px;

    @media (min-width: 1300px) {
      flex-shrink: 0;
      margin-top: 0;
      margin-left: 10px;
      padding: 7px 10px;
    }
  }
}

.addon-products-title {
  margin-bottom: 16px;

  @media (min-width: $screen-sm-min) {
    display: flex;
    align-items: center;
  }

  label {
    margin-bottom: 5px;
    margin-right: 10px;

    @media (min-width: $screen-sm-min) {
      display: block;
      margin-bottom: 0;
    }
  }
}

