.promotion-code {
  margin-bottom: 27px;

  &__title {
    margin: 0 0 5px;
    font-weight: bold;
    color: $text-light;
  }

  &__field {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .form-group {
      margin-bottom: 0;

      + .form-group {
        margin-left: 6px;
      }

      .btn {
        margin-bottom: 0;
      }
    }
  }

  .form-control {
    height: $input-height-small;
    padding-top: 0;
    padding-bottom: 0;
  }

  .field-icon {
    height: $input-height-small;
  }
}

.view-cart-promotion-code {
  margin: 0 0 10px 0;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px dashed #ccc;
  text-align: center
}
