$icons: (
        sprite: (width: 265px, height: 263px, svgPath: '../img/sprite-bg.svg'),
document: (width: 14px, height: 14px, backgroundX: 0px, backgroundY: 0px),
ok-blue: (width: 27px, height: 26px, backgroundX: -24px, backgroundY: -24px),
ok-green: (width: 27px, height: 26px, backgroundX: -61px, backgroundY: -60px),
reload-pink: (width: 20px, height: 21px, backgroundX: -98px, backgroundY: -96px),
setting: (width: 16px, height: 16px, backgroundX: -128px, backgroundY: -127px),
settings-orange: (width: 25px, height: 25px, backgroundX: -154px, backgroundY: -153px),
shopping-cart: (width: 17px, height: 16px, backgroundX: -189px, backgroundY: -188px),
support: (width: 14px, height: 14px, backgroundX: -216px, backgroundY: -214px),
world: (width: 15px, height: 15px, backgroundX: -240px, backgroundY: -238px),
);