/*!
 * -------------------------
 * Sprites
 * -------------------------
 */
@import "_service/sprite_svg-bg";
@import "_service/mixin-svg";
@import "_service/icon-svg";

@import "_service/mixins";

@import "bootstrap/bootstrap";

@import "vendor/fontawesome";
@import "vendor/intl-tel-input";
@import "vendor/iti-flag";
@import "vendor/bootstrap-switch";

/*!
 * -------------------------
 * Components
 * -------------------------
 */
@import "components/navbar-main";

@import "components/navbar";

@import "components/global";

//header
@import "components/header/header";
@import "components/header/header-panel";
@import "components/header/header-lined";
@import "components/header/logo";
@import "components/header/menu-drop";
@import "components/header/language-popover";

@import "components/footer";

@import "components/logincontainer";

@import "components/icon-rss";

@import "components/home-banner";

@import "components/home-shortcuts";

@import "components/text-domain";

@import "components/client-home-panels";

@import "components/home-kb-search";

@import "components/tiles";

@import "components/panel-accent";

@import "components/bg-color";

@import "components/top-nav";

@import "components/home-twitter";


//domain
@import "components/domain/domain";
@import "components/domain/domain-register-panel";
@import "components/domain/domain-selection-options";
@import "components/domain/domain-pricing";
@import "components/domain/domain-promo-box";
@import "components/domain/spotlight-tld";
@import "components/domain/domain-payment";

//cart
@import "components/cart/view-cart-items";
@import "components/cart/promotion-code";
@import "components/cart/order-summary";
@import "components/cart/panel-addon";

@import "components/featured-tlds";

@import "components/tld-filters";

@import "components/tld-sale-group-sale";

@import "components/announcement-single";

@import "components/product-details";

//panel
@import "components/panel/panel";

/**
 * -------------------------
 * @section List Tables
 * -------------------------
 */

@import "components/dataTables";

@import "components/table-list";

@import "components/status";

@import "components/affiliate-stat";

@import "components/ticket";


/**
 * -------------------------
 * @section Client Notifications
 * -------------------------
 */

.popover-user-notifications {
    border-radius: 0;
    padding: 5px 10px;
    border-color: #ddd;
    min-width: 310px;
    font-family: 'Open Sans', sans-serif;
}
.popover-user-notifications .popover-content {
    padding: 0;
}
.popover-user-notifications ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.popover-user-notifications ul li {
    padding: 5px 0;
    min-height: 66px;
    border-bottom: 1px solid #ddd;
}
.popover-user-notifications ul li:last-child {
    border: 0;
}
.popover-user-notifications ul li a {
    display: block;
    padding: 10px 15px 10px 12px;
    text-decoration: none;
    color: #555;
    font-size: 0.95em;
}
.popover-user-notifications ul li a:hover {
    background-color: #f6f6f6;
}
.popover-user-notifications ul li i.fas,
.popover-user-notifications ul li i.far {
    float: left;
    padding-top: 6px;
    font-size: 21px;
}
.popover-user-notifications ul li i.fas.fa-check-circle,
.popover-user-notifications ul li i.far.fa-check-circle{
    color: #5cb85c;
}
.popover-user-notifications ul li i.fas.fa-warning,
.popover-user-notifications ul li i.far.fa-warning {
    color: #ecc317;
}
.popover-user-notifications ul li i.fas.fa-exclamation-circle,
.popover-user-notifications ul li i.far.fa-exclamation-circle{
    color: #ec2d45;
}
.popover-user-notifications ul li .message {
    margin-left: 40px;
}
.popover-user-notifications ul li.none {
    padding: 12px 0;
    min-height: auto;
    text-align: center;
    font-weight: bold;
}

/**
 * -------------------------
 * @section Captcha
 * -------------------------
 */

.captchaimage {
    margin: 0;
    padding: 3px 0 4px;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    text-align: right;
}

/**
 * -------------------------
 * @section Credit Cards
 * -------------------------
 */

div.credit-card {
    margin: 0 auto 30px;
    max-width: 400px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 8px;
}

div.credit-card div.card-type {
    float: right;
    padding: 10px 20px;
    font-size: 1.2em;
}
div.credit-card div.card-icon {
    float: left;
    padding: 7px 7px;
    font-size: 1.2em;
}

div.credit-card div.card-number {
    padding: 10px;
    background-color: #ccc;
    font-size: 1.6em;
    text-align: center;
    clear: both;
}

div.credit-card div.card-start {
    float: left;
    padding: 20px 0 50px 50px;
    font-size: 1.3em;
    text-align: right;
}

div.credit-card div.card-expiry {
    float: right;
    padding: 20px 50px 50px 0;
    height: 120px;
    font-size: 1.3em;
    text-align: right;
}

div.credit-card div.end {
    clear: both;
}

@media (max-width: 600px) {
    div.credit-card {
        max-width: 250px;
    }
    div.credit-card div.card-type {
        font-size: 1.0em;
    }
    div.credit-card div.card-icon {
        font-size: 1.0em;
    }
    div.credit-card div.card-number {
        padding: 6px 10px;
        font-size: 1.2em;
    }
    div.credit-card div.card-start {
        padding: 20px 0 30px 50px;
        font-size: 0.9em;
    }
    div.credit-card div.card-expiry {
        padding: 20px 50px 30px 0;
        height: 80px;
        font-size: 0.9em;
    }
}

.auth3d-area {
    border: 1px solid #fff;
}

.submit-3d {
    width: 80%;
    border: 1px solid #fff;
}

.invoice-summary {
    margin: 0 0 25px 0;
    padding: 15px;
    height: 500px;
    background-color: #f8f8f8;
    border: 4px dashed #efefef;
    border-radius: 10px;
}

.invoice-summary-table {
    margin: 25px 0 25px 0;
    max-height: 300px;
    overflow: auto;
}

.invoice-summary-table td {
    font-size: 0.8em;
}

.invoice-summary-table td.total-row {
    background-color: #efefef;
    font-weight: bold;
}

/* Card colors colorpicked from website logos */
div.credit-card .logo-visa {
    color: #1a1f71;
}

div.credit-card .logo-amex {
    color: #43abdf;
}

div.credit-card .logo-mastercard {
    color: #ed0b00;
}

div.credit-card .logo-discover {
    color: #000000;
}
/**
 * -------------------------
 * @section Sidebar Responsive Behaviour Classes
 * -------------------------
 */

div.sidebar .list-group-item-selected {
    background-color: #319FC3;
    color: #FFFFFF;
}
div.sidebar .list-group-item-selected .badge {
    background-color: #FFFFFF;
    color: #319FC3;
}

.sidebar.sidebar-secondary {
    clear: left;
}

@import "components/panel-actions";

/**
 * -------------------------
 * @section Two Factor Authentication
 * -------------------------
 */

div#twofaactivation {
    margin: 0 auto;
    padding: 15px 30px;
    width: 85%;
    background-color: #efefef;
    border-radius: 10px;
}

div#twofaactivation .errorbox {
    margin: 0 0 20px 0;
    padding: 10px 20px;
    background-color: #FF4F4F;
    text-shadow: none;
    color: #fff;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

div#twofaactivation p {
    margin: 15px 0;
}

/**
 * -------------------------
 * @section Popups
 * -------------------------
 */

#popup-backdrop {
    background-color: #2E363F;
    padding: 15px;
    height: 100%;
}

.popup-header-padding {
    margin-top: 5px;
    margin-bottom: 5px;
}

/**
 * -------------------------
 * @section Uncategorized
 * -------------------------
 */

.btn.btn-action {
    background-color: #72CA06;
    border-color: #498302;
}

/**
 * -------------------------
 * @section Knowledgebase
 * -------------------------
 */

.kb-category {
    margin: 0 0 10px 0;
}
.kb-category a {
    display: block;
    margin: 0 0 2px 0;
    font-weight: bold;
    text-decoration: none;
}
.kb-category a small {
    color: #888;
}

.kbarticles {
    padding: 0 0 25px 0;
    font-size: 0.8em;
}
.kbarticles a {
    font-size: 1.2em;
    font-weight: 700;
}
.kbarticles a .glyphicon {
    color: #8ce;
}
.kbcategories a.admin-inline-edit,
.kbarticles a.admin-inline-edit {
    font-size: 0.92em;
}

h3.kb-alsoread {
    padding: 8px 15px;
    background-color: #eee;
    border-radius: 6px;
    font-size: 0.9em;
}

.kb-article-title {
    margin: 0 0 22px 0;
    font-size: 1.6em;
}
.kb-article-title h2 {
    margin: 0;
}
.kb-article-title .btn-print {
    float: right;
    font-size: 1em;
}
.kb-article-content {
    margin: 0 0 30px 0;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 200;
}
.kb-rate-article {
    margin: 20px 0;
    padding: 15px 20px;
    background-color: #eff7ff;
    font-size: 1.4em;
    line-height: 38px;
    font-weight: 200;
    color: #4d7cab;
}
.kb-rate-article .btn-lg {
    padding: 0 16px;
}

.kb-article-details {
    color: #999;
    list-style: none;
    margin: 35px 5px;
    padding: 0;
    font-size: 0.9em;

}
.kb-article-details li {
    float: left;
    padding-right: 30px;
}

.kb-search {
    .btn {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.kb-search .form-control {
    box-shadow: none;
}

/**
 * -------------------------
 * @section Domain Checker Responsive
 * -------------------------
 */

#stepResults {
    font-size: 20px;
}
#stepResults .label {
    font-size: 20px;
}

@media (max-width: 992px) {
    #stepResults {
        font-size: 14px;
    }
    #stepResults .label {
        font-size: 14px;
    }
    div.domainresults table tr td {
        padding: 5px 5px;
    }
}

/**
 * -------------------------
 * Printing
 * -------------------------
 */

@media print {
    .sidebar,
    #main-menu,
    #top-nav,
    .header-lined {
        display: none;
    }
    a[href]:after {
        content:"" !important;
    }
}

/**
 * -------------------------
 * Badges Spacing
 * -------------------------
 */

h3.with-badge::after {
    content: '.';
    color: #fff;
}

h3.with-badge span, h3.with-badge i {
    float: left;
    padding-right: 8px;
}

h3.with-badge .badge {
    line-height: initial;
    margin-top: 3px;
}

@media (min-width: $screen-md-min) {
    h3.with-badge .badge {
        padding: 3px 7px 3px 8px;
    }
    .sidebar .list-group-item .badge {
        margin-top: -2px;
        padding: 3px 7px 3px 8px;
        line-height: initial;
        min-width: 36px;
    }
}

/**
 * -------------------------
 * Admin Masquerade Notice
 * -------------------------
 */

.admin-masquerade-notice {
    margin: 25px 0 0 auto;
    padding: 4px 10px;
    max-width: 240px;
    font-family: Tahoma;
    font-size: 0.7em;
    text-align: right;
}
.admin-masquerade-notice a {
    text-decoration: underline;
}

a.admin-inline-edit {
    margin-left: 6px;
    font-weight: 400;
    color: #888;
}
a.admin-inline-edit:hover {
    color: #444;
    text-decoration: none;
}

/**
 * -------------------------
 * Login or Register Popover
 * -------------------------
 */

.login-popover {
    font-size: 12px;
}
.login-popover .form-group {
    margin-bottom: 5px;
}
.login-popover hr {
    margin: 5px 0;
}

/**
 * -------------------------
 * Mass Pay
 * -------------------------
 */

tr.masspay-invoice-detail td {
    font-size: 0.8em;
}
tr.masspay-total td {
    background-color: #efefef;
    font-weight: bold;
}

/**
 * -------------------------
 * Error Page
 * -------------------------
 */

.error-container {
    text-align: center;
}
.error-container h1 {
    margin-top: 40px;
}
.error-container .buttons {
    margin: 25px 0;
}
.error-container .buttons .btn {
    margin: 5px;
}

/**
 * -------------------------
 * Collapsable Panels
 * -------------------------
 */

.panel-collapsable > .panel-heading {
    cursor: pointer;
}
.panel-collapsable > .panel-body-collapsed {
    display: none;
}

/**
 * -------------------------
 * Licensing Addon
 * -------------------------
 */

.licensing-addon-latest-download h3 {
    margin-top: 0;
}

/**
 * -------------------------
 * Domain Checker Captchas
 * -------------------------
 */

#google-recaptcha-domainchecker {
    width: 304px;
    height: 78px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#default-captcha-domainchecker {
    margin-top: 15px;
    margin-bottom: -63px;
}

#default-captcha-domainchecker #inputCaptcha {
    width: 100px;
    border-radius: 4px;
}

.domainchecker-homepage-captcha #google-recaptcha-domainchecker {
    margin-bottom: -46px;
}

@media (max-width: 991px) {
    #google-recaptcha-domainchecker {
        padding-left: 2.5%;
    }

    #default-captcha-domainchecker {
        margin-bottom: -25px;
    }
}

@media (max-width: 736px) {
    #google-recaptcha-domainchecker {
        transform: scale(0.935);
        transform-origin: 0 0;
        -webkit-transform: scale(0.935);
        -webkit-transform-origin: 0 0;
    }
}

@media (max-width: 384px) {
    #google-recaptcha-domainchecker {
        transform: scale(0.96);
        transform-origin: 0 0;
    }
}

@media (max-width: 360px) {
    #google-recaptcha-domainchecker {
        transform: scale(0.89);
        transform-origin: 0 0;
    }
}

@media (max-width: 320px) {
    #google-recaptcha-domainchecker {
        padding-left: 13.5%;
        transform: scale(0.83);
        transform-origin: 0 0;
        -webkit-transform: scale(0.785);
        -webkit-transform-origin: 0 0;
    }
}

/**
 * -------------------------
 * Email Verification
 * -------------------------
 */

.email-verification {
    margin: 0;
    padding: 10px;
    font-weight: 300;
    background-color: #f8f8f8;
    border-bottom: 1px solid #eee;
    color: #333;
}
.email-verification .text {
    display: block;
    padding: 6px 0;
}
.email-verification .btn {
    margin: 3px 0;
    padding: 3px 10px;
    background-color: #50525f;
    border-color: #50525f;
    color: #fff;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.email-verification .btn:active,
.email-verification .btn[disabled]:hover {
    background-color: #50525f;
    border-color: #50525f;
    color: #fff;
}
.email-verification .btn.close {
    margin-left: 10px;
    background-color: transparent;
    color: rgba(55, 55, 55, 0.5);
    font-size: 22px;
    opacity: 1;
}
.email-verification .btn.close:hover {
    color: rgba(55, 55, 55, 0.8);
}
.email-verification .fas,
.email-verification .far {
    color: #666;
    float: left;
    padding: 2px 10px 0 0;
    font-size: 24px;
}

@media (min-width: 768px) {
    .email-verification .text {
        padding-top: 9px;
        padding-bottom: 0;
    }
    .email-verification .btn {
        margin: 0;
        padding: 9px 25px;
    }
    .email-verification .button {
        float: right;
    }
    .email-verification .fas,
    .email-verification .far {
        font-size: 36px;
    }
}

.email-verification.success {
    background-color: #ebfde4;
    border-bottom: 1px solid #e3f7d5;
    color: #5cb85c;
}
.email-verification.success .fas,
.email-verification.success .far {
    color: #6fbb51;
}
.email-verification.failed {
    background-color: #fdf8e3;
    border-bottom: 1px solid #f7f3d0;
    color: #b3a879;
}
.email-verification.failed .fas,
.email-verification.failed .far {
    color: #b3a879;
}

/**
 * -------------------------
 * Markdown Editor
 * -------------------------
 */

.md-editor {
    border: 1px solid #ddd;
    border-radius: 3px;
}
.md-editor > .btn-toolbar {
    background-color: #fff !important;
}
.md-editor > textarea.markdown-editor,
.md-editor > .md-preview {
    padding: 15px !important;
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    background-color: #fff !important;
}
div.md-editor.active {
    display: block;
    border: 1px solid #ddd;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.markdown-editor-status {
    padding: 2px 10px;
    font-size: 9pt;
    color: #959694;
    text-align: right;

}

.small-font {
    font-size: 0.9em;
}

/**
 * -------------------------
 * Markdown Content Formatting
 * -------------------------
 */

.markdown-content h1 {
    font-size: 1.6em;
    color: #333;
}
.markdown-content h2 {
    font-size: 1.4em;
    color: #333;
}
.markdown-content h3 {
    font-size: 1.2em;
    color: #333;
}
.markdown-content h4 {
    font-size: 1.1em;
    color: #333;
}

.markdown-content pre {
    padding: 15px;
    background-color: #444;
    color: #f8f8f8;
    border: 0;
}
.markdown-content pre code {
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}

.markdown-content blockquote {
    font-size: 1em;
}

.markdown-content table {
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid #ddd;
}
.markdown-content table > thead > tr > th {
    padding: 4px 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-weight: bold;
    text-align: center;
}
.markdown-content table > tbody > tr > td {
    padding: 3px 8px;
    border: 1px solid #ddd;
}

@import "components/panel-sidebar";

/**
 * -------------------------
 * Store
 * -------------------------
 */

.store-order-container {
    margin: 20px 0;
    padding: 30px;
}
.store-order-container h2 {
    margin-top: 0;
}
.store-order-container .btn {
    padding: 10px 30px;
    font-size: 1.15em;
    font-weight: 300;
}

.store-order-container .store-domain-tabs {
    margin-top: 20px;
}
.store-order-container .store-domain-tabs li a {
    margin-right: 10px;
    padding: 7px 15px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}
.store-order-container .store-domain-tabs li.active a {
    background-color: #fff;
    border-bottom: 1px solid transparent;
}
.store-order-container .store-domain-tab-content {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-top: 0;
}
.store-order-container .store-domain-tab-content a {
    text-decoration: underline;
}
.store-order-container .store-domain-tab-content a:hover {
    text-decoration: none;
}

.store-order-container .payment-term h4 {
    margin-top: 25px;
}
@media (min-width: 768px) {
    .store-order-container .payment-term {
        float: right;
    }
    .store-order-container .payment-term h4 {
        margin-top: 0;
    }
}

.store-order-container .domain-validation {
    display: block;
    padding-top: 5px;
    font-size: 1.2em;
    font-weight: 300;
    color: #888;
}
.store-order-container .domain-validation.ok {
    color: #53a22d;
}

.store-promoted-product {
    margin: 50px 0;
    padding: 30px 30px 50px 30px;
    background-color: #f6f6f6;
}
.store-promoted-product .icon {
    height: 200px;
    line-height: 200px;
    text-align: center;
    overflow: hidden;
}
.store-promoted-product .icon img {
    max-width: 100%;
    max-height: 100%;
}
.store-promoted-product ul.features {
    margin: 20px 0;
    padding: 0;
    list-style: none;
    font-size: 1.1em;
    font-weight: 300;
}
.store-promoted-product ul.features li {
    float: left;
    width: 50%;
    margin-bottom: 5px;
}
.store-promoted-product ul.features li .fa:not(.fa-spinner) {
    font-size: 1.2em;
    color: #91c590;
    margin-left: 20px;
    margin-right: 10px;
}
.store-promoted-product .btn {
    margin-top: 10px;
    padding: 10px 30px;
    font-size: 1.2em;
    font-weight: 300;
}

/**
 * -------------------------
 * Promotional Content Formatting
 * -------------------------
 */

.promo-banner {
    margin: 0;
    padding: 15px 10px 20px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 1em;
    overflow: auto;
}
.promo-banner .icon {
    float: left;
    margin: 0 20px 0 0;
}
.promo-banner img {
    max-width: 300px;
    max-height: 200px;
}
.promo-banner .icon-left {
    margin-bottom: 10px;
    text-align: center;
}
@media (max-width: 767px) {
    .promo-banner form {
        text-align: center;
    }
}
@media (min-width: 768px) {
    .promo-banner img {
        max-width: 100%;
        max-height: 100%;
    }
    .promo-banner .icon-left {
        float: left;
        margin: 0;
        width: 155px;
    }
    .promo-banner .content {
        margin-left: 185px;
    }
}

.promo-banner h3 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 300;
}
.promo-banner h4 {
    font-size: 18px;
    font-weight: 300;
}

.promo-banner p {
    margin: 5px 0;
}

.promo-banner ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.92em;
}
.promo-banner ul li {
    margin-bottom: 4px;
}
@media (min-width: 1200px) {
    .promo-banner ul li {
        float: left;
        width: 50%;
    }
}

.promo-banner .fa:not(.fa-spinner) {
    font-size: 1.2em;
    color: #91c590;
    margin-left: 20px;
    margin-right: 10px;
}

.promo-banner a {
    color: #ff6600;
    text-decoration: underline;
}
.promo-banner .btn {
    margin: 6px 0 0 0;
    padding: 8px 30px;
    background-color: #ff6600;
    border: 0;
    color: #fff;
}

@media (max-width: 650px) {
    .promo-banner .icon {
        width: 100%;
        margin-bottom: 15px;
    }
}

.promo-banner-rounded {
    border-radius: 4px;
}

.promo-banner-slim {
    padding: 10px;
}
.promo-banner-slim .icon-left {
    width: 85px;
}
.promo-banner-slim .content {
    margin-left: 110px;
}
.promo-banner-slim h3 {
    font-size: 18px;
}
.promo-banner-slim h4 {
    font-size: 14px;
}
.promo-banner-slim .btn {
    margin: 0 20px 0 0;
    padding: 6px 20px;
}

.promo-banner.ssl {
    border-top: 3px solid #4da24c;
}
.promo-banner.ssl .btn {
    background-color: #4da24c;
}

.promo-banner.weebly {
    border-top: 3px solid #2990ea;
}
.promo-banner.weebly .btn {
    background-color: #2990ea;
}

.promo-banner.spamexperts {
    border-top: 3px solid #589ed7;
}
.promo-banner.spamexperts .btn {
    background-color: #589ed7;
}

.promo-banner-slim.weebly .icon-left {
    width: 160px;
}
.promo-banner-slim.weebly .content {
    margin-left: 185px;
}

.promo-banner.sitelock {
    border-top: 3px solid #f2952d;
}
.promo-banner.sitelock .btn {
    background-color: #f2952d;
}

.mc-panel-promo {
    font-size: 0.95em;
}
.mc-panel-promo img {
    display: block;
    margin: 0 auto 6px;
    max-width: 90%;
    max-height: 87px;
}

/**
 * -------------------------
 * MarketConnect Service SSO
 * -------------------------
 */

.panel-mc-sso {
    padding: 0 10px 10px 10px;
}
.panel-mc-sso img {
    max-width: 100%;
    max-height: 120px;
}
.panel-mc-sso .row {
    margin-left: -5px;
    margin-right: -5px;
}
.panel-mc-sso .col-sm-6 {
    padding-left: 5px;
    padding-right: 5px;
}
.panel-mc-sso .form-control,
.panel-mc-sso .btn,
.panel-mc-sso small {
    margin-top: 5px;
}
.panel-mc-sso small {
    display: block;
}

/**
 * -------------------------
 * Social buttons
 * -------------------------
 */

.social-signin-btns {
    text-align: center;
}
.social-signin-btns .btn {
    margin-bottom: 5px;
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social i.fas,
.btn-social i.far {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2)
}
.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
    color: #fff;
    background-color: #30487b;
    border-color: rgba(0, 0, 0, 0.2)
}
.btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
    background-image: none
}
.btn-facebook.disabled, .btn-facebook[disabled], fieldset[disabled] .btn-facebook, .btn-facebook.disabled:hover, .btn-facebook[disabled]:hover, fieldset[disabled] .btn-facebook:hover, .btn-facebook.disabled:focus, .btn-facebook[disabled]:focus, fieldset[disabled] .btn-facebook:focus, .btn-facebook.disabled:active, .btn-facebook[disabled]:active, fieldset[disabled] .btn-facebook:active, .btn-facebook.disabled.active, .btn-facebook[disabled].active, fieldset[disabled] .btn-facebook.active {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2)
}
.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2)
}
.btn-google:hover, .btn-google:focus, .btn-google:active, .btn-google.active, .open .dropdown-toggle.btn-google {
    color: #fff;
    background-color: #ca3523;
    border-color: rgba(0, 0, 0, 0.2)
}
.btn-google:active, .btn-google.active, .open .dropdown-toggle.btn-google {
    background-image: none
}
.btn-google.disabled, .btn-google[disabled], fieldset[disabled] .btn-google, .btn-google.disabled:hover, .btn-google-plus[disabled]:hover, fieldset[disabled] .btn-google-plus:hover, .btn-google-plus.disabled:focus, .btn-google-plus[disabled]:focus, fieldset[disabled] .btn-google-plus:focus, .btn-google-plus.disabled:active, .btn-google-plus[disabled]:active, fieldset[disabled] .btn-google-plus:active, .btn-google-plus.disabled.active, .btn-google-plus[disabled].active, fieldset[disabled] .btn-google-plus.active {
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2)
}
.btn-twitter {
    color: #fff;
    background-color: #2ba9e1;
    border-color: rgba(0, 0, 0, 0.2)
}
.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active, .open .dropdown-toggle.btn-twitter {
    color: #fff;
    background-color: #1c92c7;
    border-color: rgba(0, 0, 0, 0.2)
}
.btn-twitter:active, .btn-twitter.active, .open .dropdown-toggle.btn-twitter {
    background-image: none
}
.btn-twitter.disabled, .btn-twitter[disabled], fieldset[disabled] .btn-twitter, .btn-twitter.disabled:hover, .btn-twitter[disabled]:hover, fieldset[disabled] .btn-twitter:hover, .btn-twitter.disabled:focus, .btn-twitter[disabled]:focus, fieldset[disabled] .btn-twitter:focus, .btn-twitter.disabled:active, .btn-twitter[disabled]:active, fieldset[disabled] .btn-twitter:active, .btn-twitter.disabled.active, .btn-twitter[disabled].active, fieldset[disabled] .btn-twitter.active {
    background-color: #2ba9e1;
    border-color: rgba(0, 0, 0, 0.2)
}

.providerPreLinking {
    min-height: 52px;
}
.providerLinkingFeedback {
    display: none;
}

/**
 * -------------------------
 * Service Upgrade
 * -------------------------
 */

.upgrade .product-to-be-upgraded {
    margin: 20px 0;
    padding: 15px;
    background-color: #f8f8f8;
}
.upgrade .product-to-be-upgraded h4,
.upgrade .product-to-be-upgraded h5 {
    margin: 0;
}
.upgrade .products {
    margin-left: -5px;
    margin-right: -5px;
}
.upgrade .products .column {
    padding-left: 5px;
    padding-right: 5px;
}
.upgrade .products .product {
    margin: 20px 0;
    padding: 0;
    background-color: #fff;
}
.upgrade .products .product .current,
.upgrade .products .product .recommended {
    padding: 5px;
    background-color: #ffbc00;
    color: #f5f5f5;
    font-weight: bold;
    text-align: center;
}
.upgrade .products .product .recommended {
    background-color: #25ac2f;
}
.upgrade .products .product ul {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
.upgrade .products .product .footer {
    border: 1px solid #eee;
    border-top: 0;
}
.upgrade .products .product .header {
    margin: 0;
    padding: 20px;
    background-color: #2b5580;
    color: #fff;
}
.upgrade .products .product .header p {
    font-size: 1.1em;
    font-weight: 300;
}
.upgrade .products .product ul {
    margin: 0;
    padding: 20px 25px;
    list-style: none;
}
.upgrade .products .product ul li {
    line-height: 25px;
    font-size: 0.9em;
    text-align: right;
    color: #aaa;
    border-bottom: 1px solid #eee;
}
.upgrade .products .product ul li:last-child {
    border: 0;
}
.upgrade .products .product ul li span {
    float: left;
    color: #444;
}
.upgrade .products .fas,
.upgrade .products .far {
    font-size: 1.3em;
}
.upgrade .products .fa-check {
    color: #23ad2e;
}
.upgrade .products .product .footer {
    margin: 0;
    padding: 20px;
}
.upgrade .products .product .footer select {
    margin-bottom: 10px;
}
.upgrade .products .product .btn {
    background-color: #2b5580;
    color: #fff;
}

/**
 * Helper Alerts
 */
.alert .fas.pull-left {
    margin: -3px 0 0 -3px;
}
.alert .alert-text {
    margin-left: 56px;
}

/**
 * WHMCS Telephone Country Code Dropdown
 *
 * Using https://github.com/jackocnr/intl-tel-input
 *
 * @copyright Copyright (c) WHMCS Limited 2005-2017
 * @license http://www.whmcs.com/license/ WHMCS Eula
 */

.intl-tel-input {
    width: 100%;
}

@import "components/md-editor";

div.dtr-modal {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  padding: 10em 1em;
}
div.dtr-modal div.dtr-modal-display {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  z-index: 102;
  overflow: auto;
  background-color: #f5f5f7;
  border: 1px solid black;
  border-radius: 0.5em;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
}
div.dtr-modal div.dtr-modal-content {
  position: relative;
  padding: 1em;
}
div.dtr-modal div.dtr-modal-close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 22px;
  height: 22px;
  border: 1px solid #eaeaea;
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  z-index: 12;
}
div.dtr-modal div.dtr-modal-close:hover {
  background-color: #eaeaea;
}
div.dtr-modal div.dtr-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 767px) {
  div.dtr-modal div.dtr-modal-display {
    width: 95%;
  }
}
div.dtr-bs-modal table.table tr:first-child td {
  border-top: none;
}

@import "components/multiselect-container";

@import "components/input-group_padding";

@import "components/domain-renewals";

@import "components/summary-container";

@import "components/field-registration";

//form
@import "components/form/form";
@import "components/form/form-container";
@import "components/form/form-subtext";
@import "components/form/form-text-help";
@import "components/form/form-link";
@import "components/form/field-icon";
@import "components/form/sub-heading";
@import "components/form/checkbox";
@import "components/form/onoffswitch";
@import "components/form/validation-form";

@import "components/registrant";

@import "components/payment";

@import "components/popup/md-modal";
@import "components/popup/logout-popup";
