.header-panel {
  color: #fff;

  @media (min-width: $screen-lg-min) {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin-top: -17px;
  }

  &__wrap {
    display: flex;
    align-items: center;

    @media (max-width: $screen-xs-max) {
      width: 100%;
      justify-content: space-between;
    }
    @media (max-width: 480px) {
      display: block;
    }
    @media (min-width: $screen-lg-min) {
      padding: 11px 20px 13px;
      border-radius: 0 0 6px 6px;
      background: #160D37;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    @media (max-width: 480px) {
      justify-content: center;
    }

    + .header-panel__item {
      margin-left: 20px;

      @media (max-width: 480px) {
        margin-left: 0;
        margin-top: 10px;
      }
    }

    > p {
      margin-bottom: 0;
    }
  }

  &__el {
    + .header-panel__el {
      margin-left: 20px;
    }
  }

  .btn {
    border-width: 1px;
    margin-bottom: 5px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 0;
    }
    @media (min-width: $screen-md-min) {
      min-width: 120px;
    }

    + .btn {
      @media (min-width: $screen-sm-min) {
        margin-left: 10px;
      }
      @media (min-width: $screen-lg-min) {
        margin-left: 20px;
      }
    }
  }

  &__btn {
    &.btn {
      @media (max-width: $screen-md-max) {
        width: 50px;
        height: 40px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: initial;
        border: none;
        background: none!important;
        color: #fff;

        &:hover {
          i {
            opacity: .8;
          }
        }
      }

      i {
        @media (max-width: $screen-md-max) {
          display: block;
          font-size: 2.2rem;
          margin: 0;
          line-height: 0;
          color: #fff;
          transition: opacity .25s;
        }
      }
    }

    span {
      display: none;
      @media (min-width: $screen-lg-min) {
        display: inline;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $brand-primary;
    }
  }
}
