.header-lined {
  margin-bottom: 38px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 30px;
  }
  @media (min-width: $screen-md-min) {
    padding-left: (30px - 12px);

    .main-content__right & {
      padding-left: 0;
    }
  }

  h1, .h1 {
    margin-top: -7px;
    margin-bottom: 8px;
    padding: 0 0 12px;
    border-bottom: 1px solid #E9E9E9;

    @media (max-width: $screen-xs-max) {
      padding-bottom: 8px;
    }
  }

  small {
    white-space: nowrap;
    overflow: hidden;
  }
}