.language-popover {
  max-width: 260px;
  width: auto;
  background-color: rgba(20, 20, 20, 0.98);
  background-image: url('../img/worldmap.png');
  background-repeat: no-repeat;
  font-size: $font-size-base;

  &.bottom {
    margin-top: 9px;

    > .arrow:after {
      border-bottom-color: rgba(20, 20, 20, 0.97);
    }
  }

  .popover-content {
    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    li {
      float: left;
      display: inline;
      padding: 0;
      margin: 0;
      width: 50%;
      line-height: 2em;

      a, span {
        display: inline-block;
        padding: 5px 10px;
        text-decoration: none;
        color: #fff;
        opacity: 1;
        transition: .25s;
      }

      a {
        &:hover {
          opacity: .8;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .language-popover {
    background-position: -50px 0;

    .popover-content {
      li {
        padding: 0 20px;
        width: 50%;
      }
    }
  }
}
