.logo {
  display: inline-block;

  @media (max-width: $screen-md-max) {
    position: relative;
    top: -7px
  }
  @media (max-width: 480px) {
    margin-bottom: 12px;
    top: 0;
  }

  img {
    max-height: 50px;
    vertical-align: middle;
  }
}

.logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 2.6em;
  white-space: nowrap;
}