.field-registration {
  @media (max-width: $screen-xs-max) {
    display: block;
  }

  .form-control {
    @media (max-width: $screen-xs-max) {
      display: block;
      margin-bottom: ($grid-gutter-width / 2);
    }
  }

  .input-group-btn {
    @media (max-width: $screen-xs-max) {
      display: flex;
      padding: 0;
      width: 100%;

      .btn {
        width: 50%;
      }
    }
    @media (max-width: 480px) {
      flex-direction: column;

      .btn {
        width: 100%;
      }
    }
  }
}