section#footer p {
  margin: 0;
}

@media (min-width: 450px) {
  section#footer {
    line-height: 32px;
  }
}

section#footer .back-to-top {
  float: right;
}
section#footer .back-to-top i {
  padding: 10px;
  background-color: #ddd;
  color: #888;
  border-radius: 3px;
  opacity: 0.7;
}

.footer {
  padding: 47px 0 85px;
  color: #fff;
  background: $brand-base;

  @media (max-width: $screen-xs-max) {
    padding-bottom: 65px;
  }

  &__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -20px 35px;
    padding: 0;
  }

  &__card {
    flex-shrink: 0;
    padding: 10px 22px;
    opacity: .5;
    transition: opacity .2s;

    &:hover {
      opacity: 1;
    }
  }

  &__bottomMenu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
    margin-bottom: 22px;
    padding: 0;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background: $brand-base;
      width: 95px;
      height: 100%;
    }

    &__item {
      position: relative;
      padding: 0 17px;
      margin: 0 0 17px;
      color: #fff;
      font-weight: 300;
      font-size: 15px;
      line-height: 1;
      text-transform: uppercase;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background: #fff;
        width: 1px;
        height: 100%;
        z-index: 0;
      }

      @media (max-width: $screen-xs-max) {
        padding: 0 10px;

        &::after {
          display: none;
        }
      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      a, span {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: border .2s;
        z-index: 3;
        position: relative;

        &:hover {
          color: #fff;
          border-color: currentColor;
        }
      }
    }
  }

  &__copyright {
    display: block;
    margin-bottom: 0;
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
    opacity: .3;
  }
}

.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;

  &__item {
    margin: 0 12px 10px;

    &--reviews {
      margin-left: 30px;
      margin-right: -100px;

      @media (max-width: $screen-xs-max) {
        margin-right: 12px;
        margin-left: 12px;
      }

      img {
        height: 34px;
        margin-bottom: 5px;
      }
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    opacity: .5;
    transition: opacity .25s;

    &:active,
    &:focus {
      color: #fff;
      outline: none;
    }

    &:hover {
      color: #fff;
      opacity: 1;
    }

    i {
      font-size: 28px;
    }
  }
}
