section#header {
  margin: 0;
  padding: 54px 0 17px;
  background-color: $brand-base;
}

section#header .logo img {
  margin: 0;
  padding: 0;
  max-height: 50px;
  vertical-align: middle;
}
section#header .logo-text {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 2.6em;
  white-space: nowrap;
}

section#header .search {
  margin: 20px 0;
}
section#header .search .form-control {
  border-color: #eee;
  box-shadow: none;
}
section#header .search .btn {
  background-color: #eee;
  border-color: #eee;
  color: #888;
}