.input-group_padding {
  .form-control,
  .btn {
    border-radius: $border-radius-base!important;
  }

  .input-group-btn {
    padding-left: 7px;

    @media (max-width: 480px) {
      padding-left: 0;
    }

    .btn {
      @media (max-width: 480px) {
        width: 100%;
      }

      + .btn {
        margin-left: 6px;

        @media (max-width: 480px) {
          width: 100%;
          margin: ($grid-gutter-width / 2) 0 0;
        }
      }
    }
  }
}