.navbar-main {
  margin: 0;
  background-color: $color-bg-block;
  border: 0;
  border-radius: 0;
  min-height: 50px;
  font-size: $font-size-base;
  @include font-face-normal;

  .navbar-collapse {
    margin-left: (-($grid-gutter-width / 2));

    @media (max-width: $screen-sm-max) {
      padding: 0;
      margin: 0 -30px;

      &.in {
        margin-bottom: 0;
      }
    }
    @media (max-width: $screen-xs-max) {
      margin: 0 (-$grid-gutter-width);
    }
  }

  .navbar-nav {
    margin-left: -18px;
    margin-right: -18px;

    @media (max-width: $screen-sm-max) {
      margin: 0;
    }

    > li {
      transition: background-color .25s;

      > a,
      > span {
        padding: 15px 18px;
        color: $text-color;
        text-transform: uppercase;
        text-decoration: none;
        transition: .25s;
      }
    }

    > li > a:hover,
    > li > a:focus,
    > .active > a,
    > .active > a:hover,
    > .active > a:focus,
    > .open > a,
    > .open > a:hover,
    > .open > a:focus {
      color: #fff;
      background-color: $brand-base;
    }
  }

  .caret {
    top: -2px;
  }

  .dropdown-menu {
    padding: 0;
    border-top: 0;
    border-radius: 0;
    border: none;

    > li {
      > a {
        font-size: $font-size-small;
        text-transform: uppercase;
        padding: 10px 18px;
        text-decoration: none;
      }
    }
  }
}

.navbar-main .navbar-nav .dropdown-menu > li > a:hover,
.navbar-main .navbar-nav .dropdown-menu > li > a:focus,
.navbar-main .navbar-nav .dropdown-menu > .active > a,
.navbar-main .navbar-nav .dropdown-menu > .active > a:hover,
.navbar-main .navbar-nav .dropdown-menu > .active > a:focus,
.navbar-main .navbar-nav .dropdown-menu > .open > a,
.navbar-main .navbar-nav .dropdown-menu > .open > a:hover,
.navbar-main .navbar-nav .dropdown-menu > .open > a:focus {
  color: #333;
  background-color: #eee;
}

.navbar-main > li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

.navbar-main .navbar-toggle {
  border-color: transparent;
}

.navbar-main .navbar-toggle .icon-bar {
  background-color: $brand-base;
}

.navbar-main .navbar-toggle:focus,
.navbar-main .navbar-toggle:hover {
  background-color: transparent;
}
