.panel-heading i.far,
.panel-heading i.fas,
.panel-heading i.fal,
.panel-heading i.fab {
  font-size: 0.85em;
}

.panel-sidebar {
  font-size: $font-size-base;

  .panel-heading {
    padding-right: 17px;
  }

  .panel-body {
    padding: 24px 20px;
  }

  .list-group-item {
    padding: 15px 14px 15px 20px;
    line-height: 1.2;
    font-size: $font-size-base;
    text-decoration: none;

    @media (max-width: $screen-md-max) {
      font-size: $font-size-base-xs;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      width: 4px;
      background: $brand-success;
      opacity: 0;
      transition: opacity .25s;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    &.active,
    &.active:focus,
    &.active:hover {
      background-color: $brand-base;
      border-color: $brand-base;

      i {
        color: #fff;
      }

      .fa-dot-circle {
        color: $text-color;
      }
    }

    &.disabled,
    &.disabled:focus,
    &.disabled:hover {
      background-color: transparent;
      opacity: 0.5;
    }

    i:not(.fa-circle):not(.fa-dot-circle) {
      float: right;
      line-height: 22px;
      margin-left: 5px;
      font-size: 14px;
    }

    .fa-dot-circle,
    .fa-circle {
      margin-right: 5px;
    }
  }
}

.panel-sidebar[menuitemname="My Invoices Summary"] {
  .panel-footer {
    .col-button-left,
    .col-button-right {
      padding: 0;
      width: 100%;
    }

    .col-button-left {
      margin-bottom: 10px;
    }

    .btn {
      @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);

      &:hover,
      &:active,
      &.active,
      &:focus {
        border-color: $btn-success-border;
        background: $btn-success-bg;
      }

      &.disabled,
      &:disabled {
        background: #ccc;
        border-color: #ccc;
      }
    }
  }
}

.panel-sidebar.view-filter-btns .list-group-item.active,
.panel-sidebar.view-filter-btns .list-group-item.active:focus,
.panel-sidebar.view-filter-btns .list-group-item.active:hover {
  background-color: #eee;
  border-color: #eee;
  color: #555;
}

.panel-sidebar .recent-ticket {
  line-height: 20px;
}