#order-standard_cart {


  div.input-group-lg > .form-control {
    height: $input-height-large;
  }

  div.view-cart-items-header {
    background-color: $brand-base;
  }

  div.view-cart-empty {
    padding: 15px;
  }


}