.tld-sale-group {
  padding: 1px 3px;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
}
.tld-sale-group-hot {
  background-color: #f9615a;
}
.tld-sale-group-sale {
  background-color: #f7d458;
}
.tld-sale-group-new {
  background-color: #2ad588;
}