.panel {

}

.panel-default {

}

.cpanel-package-details {
  margin-bottom: 10px;
}

#cPanelPackagePanel {
  .btn {
    margin: 0 3px 10px;
  }
}

#cPanelExtrasPurchasePanel {
  select.form-control {
    width: 100%;
    margin-bottom: 10px;
  }
}