/*! *****************************************************

    ** Custom Stylesheet **

    Any custom styling you want to apply should be
    defined here.

***************************************************** !*/
.div-service-status .label-placeholder {
    position: absolute;
    visibility: hidden;
}
.div-service-status .label:not(.label-placeholder) {
    width: 3rem;
}
#servicesPanel .list-group {
    overflow: initial;
}
#servicesPanel .list-group {
    max-height: initial;
}

#servicesPanel .div-service-name {
    display:inline-block;
}
#servicesPanel .div-service-status {
    display:inline-block;
}
#servicesPanel .dropdown-menu {
    padding: 5px;
}
#servicesPanel .dropdown-item {
    padding: 5px;
    border-radius: 2px;
}

#servicesPanel .dropdown-item:hover{
    color:white;
    background-color: #EB276D;
    cursor: pointer;
}

#servicesPanel .panel-footer {
    padding: 10px;
}
#servicesPanel .div-service-status {
    width: auto;
}
#servicesPanel .div-service-status .label{
    margin:0px;
}


.s3border-bottom {
        border-bottom:1px solid #dee2e6 !important
}

.s3row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.s3col-md-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
}

.s3d-flex {
        display:flex !important
}
.s3col-md-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
}

.s3flex-wrap {
        flex-wrap:wrap !important
}
.s3form-group {
        margin-bottom: 1rem
}
.s3form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.s3input-group {
        position:relative; display:flex; flex-wrap:wrap; align-items:stretch; width:100%
}
.s3input-group-append {
        margin-left:-1px
}

.s3col-10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%
}

.s3align-items-center {
        align-items:center !important
}

.s3justify-content-center {
        justify-content:center !important
}
.s3btn {
        display:inline-block; font-weight:400; color:#212529; text-align:center; vertical-align:middle; -webkit-user-select:none; -moz-user-select:none; user-select:none; background-color:transparent; border:1px solid transparent; padding:.375rem .75rem; font-size:1rem;
line-height:1.5; border-radius:.25rem; transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.s3btn-outline-secondary {
        color:#6c757d; border-color:#6c757d
}
.s3btn-outline-danger {
        color:#dc3545; border-color:#dc3545
}


.s3col-2 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
}

.s3mb-2, .my-2 {
        margin-bottom:.5rem !important
}
.s3mt-2, .my-2 {
        margin-top:.5rem !important
}
.s3w-100 {
        width:100% !important
}
.s3form-group {
        margin-bottom: 1rem
}

.s3col-md-6 {
        flex: 0 0 50%;
        max-width: 50%
}

*,
::after,
::before {
        box-sizing: border-box
}
