//----- custom checkbox/radio -----
$_check-border:         #ccc;
$_check-checked:        $brand-success;

.check-cust {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 3;

  &:checked {
    + .check-cust_i {
      border-color: $input-border;
      &::before {
        border-color: $_check-checked;
      }
    }
  }
}

.check-cust_i {
  display: block!important;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background: #fff;
  border: 1px solid $_check-border;
  transition: all .2s;
  z-index: 2;

  &::before {
    content: '';
    display: block;
    width: 5px;
    height: 11px;
    position: absolute;
    top: 2px;
    left: 7px;
    border: 2px solid transparent;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
    transition: border .2s;
  }
}

.radio,
.checkbox {
  margin: 0;

  label {
    position: relative;
    display: block;
    min-height: 20px;
    padding-left: 30px;
    margin-bottom: 13px;
    font-size: $font-size-base;
    color: #555;
    line-height: (22/16);
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    > span {
      display: inline-block;
    }

    .check-cust_i {
      padding-top: 0;
    }
  }
}

.radio {
  .check-cust_i {
    border-radius: 50%;
  }
}
//----- END--custom checkbox/radio -----


.icheckbox_square-blue,
.iradio_square-blue {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    width: 5px;
    height: 11px;
    position: absolute;
    top: 3px;
    left: 8px;
    border: 2px solid transparent;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
    transition: border .2s;
  }

  &.checked {
    &::before {
      border-color: $brand-success;
    }
  }
}

.iradio_square-blue {
  border-radius: 50%;
}

.icheckbox_square-blue.disabled {
  background-position: -72px 0;
  cursor: default
}

.icheckbox_square-blue.checked.disabled {
  background-position: -96px 0
}

.iradio_square-blue {
  background-position: -120px 0
}

.iradio_square-blue.hover {
  background-position: -144px 0
}

.iradio_square-blue.disabled {
  background-position: -192px 0;
  cursor: default
}

.iradio_square-blue.checked.disabled {
  background-position: -216px 0
}

@media (-o-min-device-pixel-ratio: 5/4),(-webkit-min-device-pixel-ratio: 1.25),(min-resolution: 120dpi) {
  .icheckbox_square-blue, .iradio_square-blue {
    background-image: url(blue@2x.png);
    -webkit-background-size: 240px 24px;
    background-size: 240px 24px
  }
}