.form-container {
  padding: 4px;
  border-radius: 4px;
  background: linear-gradient(-90deg,#eb276d 0,#e45c9a 25%,#ae65b6 50%,#6448b6 75%,#3b2c79 100%);

  &_sm {
    max-width: 586px;
    margin: 0 auto;
  }

  &__inner {
    border-radius: 4px;
    padding: 45px 35px;
    background: #fff;

    @media (max-width: $screen-xs-max) {
      padding: 30px 25px;
    }

    #registration &,
    .form-container_tabs & {
      padding-top: 0;
    }
  }

  .alert {
    font-size: $font-size-small;
  }
}

.form-container-tabs {
  padding: 4px 2px!important;
  margin: -4px -39px 0;
  background: linear-gradient(-90deg, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);

  &__el {
    &.active {
      .form-container-tabs__el-wrap {
        color: $brand-base!important;
        background: #fff!important;
      }
    }
  }

  &__el-wrap {
    display: block;
    margin: 0!important;
    padding: 17px 20px!important;
    border-radius: 6px!important;
    background: transparent!important;
    color: #fff!important;
    width: 100%;
    text-transform: none;
    font-weight: normal;
    font-size: 18px;
    border: none;
    text-decoration: none;
    transition: .25s ease-out;
  }
}