.sub-heading {
  margin-top: 30px;
  margin-bottom: 17px;
  font-size: $font-size-large;
  @include font-face-medium;
  color: $text-color;

  @media (max-width: $screen-xs-max) {
    margin-top: 0;
    margin-bottom: 15px;
  }

  span {
    display: inline-block;
  }
}