div.domainresults div:not(.btn-group) {
  margin: 0;
  padding: 10px 25px;
  background-color: #ddd;
  color: #666;
  font-size: 1.0em;
  border-radius: 6px 6px 0 0;
}

div.domainresults div:not(.btn-group) span {
  padding-left: 20px;
  font-size: 14px;
  color: #888;
}

div.domainresults table tr td {
  padding: 5px 30px;
  line-height: 40px;
}

.domain-checker-container {
  margin: 20px 0;
  padding: 0;
  background-color: #ffce44;
  border-radius: $border-radius-base;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffb201), to(#ffd960));
  background: -webkit-linear-gradient(top, #ffd960, #ffb201);
  background: -moz-linear-gradient(top, #ffd960, #ffb201);
  background: -ms-linear-gradient(top, #ffd960, #ffb201);
  background: -o-linear-gradient(top, #ffd960, #ffb201);
}

.domain-checker-bg {
  margin: 0;
  padding: 80px 0;
  border-radius: $border-radius-base;
  background:url('../img/domain-checker-bg.png') center no-repeat;
  background-size: cover;
}

@media (max-width: 992px) {
  .domain-checker-bg {
    padding: 40px 0;
  }
}

.domain-checker-container .input-group-box {
  margin: 0 auto;
  width: 100%;
}

.domain-bulk-options-box {
  position: absolute;
  top: 18px;
  right: 134px;
  z-index:100;
}

@media (max-width: $screen-xs-max) {
  .domain-checker-container .input-group-box .input-group-btn {
    display: block;
    width: 100%;
  }
  .domain-checker-container .input-group-box .input-group-btn .btn {
    width: 100%;
    border-radius: 6px;
  }
  .domain-checker-container .input-group-box .form-control {
    border-radius: 6px !important;
    margin-bottom: 5px;
    float: none;
  }
}

.domain-check-availability {
  width: 130px;
}

.domain-step-options {
  min-height: 300px;
}

.domain-checker-result-headline {
  margin: 20px;
  font-size: 1.6em;
  text-align: center;
}

.domain-lookup-result {
  .domain-price .price {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
}

.domain-available {
  margin-bottom: 10px;
}

.domain-checker-available {
  color: $brand-primary;
}

.domain-checker-unavailable,
.domain-checker-invalid {
  color: $brand-success;
}

div.domainresults div.domain-checkout-area {
  display: none;
  float: right;
  padding: 8px 40px 0;
}

.domain-disclaimer-area {
  margin: 0 0 25px 0;
  font-size: 12px;
}

.domain-bulk-domain-well {
  width: 60%;
}

.domain-tld-pricing-table-responsive {
  border: 0;
  margin-bottom: 0;
}

a.domain-tld-pricing-category {
  display: block;
  text-align: center;
}

.domain-promo-box i {
  font-size: 3em;
}

.domain-head {
  margin-bottom: 10px;

  @media (min-width: $screen-lg-min) {
    display: flex;
    justify-content: space-between;
  }
}

.domain-head__status {
  @media (min-width: $screen-md-min) {
    display: flex;
    align-items: center;
    margin-top: -6px;
  }
}

.js-dmn-name {
  word-break: break-all;
}
