.domain-payment {
  padding: 0 15px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
    padding: 16px 20px;
    background: $color-bg-block;
    border: 1px solid $color-border;
    border-radius: $border-radius-base;

    @media (max-width: 1200px) {
      display: block;
    }
  }

  &__el {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
    font-size: $font-size-base-xs;
    color: #000;

    + .domain-payment__el {
      @media (max-width: 1200px) {
        margin-top: 5px;
      }
    }

    .h4 {
      margin: 0 10px 0 0;
      font-size: $font-size-base-xs;
      color: $text-light;
      white-space: nowrap;
    }
  }
}